<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <th:block th:replace="~{layout/linksstyles}"/>
</head>

<body>
<div th:if="${session.user.getRole().toString()} == ADMIN">
    <div class="text-center">
        <p class="text-bold big-text_2 text-center"
           th:text="'Зареестровано користувачів - ' + ${session.sizeUsers}"/>
        <p>
    </div>


    <div class="split left">
            <div class="centered">
                <div th:text="'Питань в базі данних - ' + ${session.sizeAllQuestion}"/>
                <br>
                <form th:action="@{/adminQuestionInterview}" method="post">
                    <div class="input-wrapper">
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input name="interview" type="text" placeholder="Question Interview or ID" class="input">
                    </div>
                    <br>
                    <button type="submit" class="buttonSerene">Interview</button>
                </form>
                <br><br>
                <form th:action="@{/adminNewQuestionInterview}" method="post">
                    <button type="submit" class="buttonSerene">New Interview</button>
                </form>
        </div>
    </div>

    <div class="split right">
        <div class="centered">
            <form th:action="@{/adminQuestionTesting}" method="post">
                <div class="input-wrapper">
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input name="testing" type="text" placeholder="ID Testing" class="input">
                </div>
                <br>
                <button type="submit" class="buttonSerene">Testing</button>
            </form>
            <br>
            <br>
            <form th:action="@{/adminNewQuestionTesting}" method="post">
                <button type="submit" class="buttonSerene">New Testing</button>
            </form>
        </div>
    </div>
</div>

<div th:if="${session.user.getRole().toString()} != ADMIN">
    <p class="text-bold big-text_1 title_color">У Вас нет доступа.</p>
</div>

</body>
</html>