<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <th:block th:replace="~{layout/linksstyles :: linksStylesBootstrap}"/>
</head>

<body>
<th:block th:replace="~{layout/header}"/>
<br>
<div>
    <div class="text-center">
        <p class="text-bold big-text_2 text-center"
           th:text="'Registered users - ' + ${session.sizeAllUsers}"/>
        <p>
    </div>

    <div class="center">
        <div th:text="'Questions in the database - ' + ${session.sizeAllQuestionInterview}"/>
        <br>
        <form th:action="@{/adminsearchquestion}" method="post">
            <div class="input-wrapper">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input name="interview" type="text" placeholder="Question Interview or ID" class="input">
            </div>
            <br>
            <button type="submit" class="buttonDarkBlue">Question</button>
        </form>
        <br><br>
        <form th:action="@{/adminnewquestion}" method="post">
            <button type="submit" class="buttonDarkBlue">New Question</button>
        </form>

        <br><br>

        <div th:text="'Questions in the database - ' + ${session.sizeAllTestingInterview}"/>
        <br>
        <form th:action="@{/adminsearchtesting}" method="post">
            <div class="input-wrapper">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input name="testing" type="text" placeholder="ID Testing" class="input">
            </div>
            <br>
            <button type="submit" class="buttonDarkBlue">Testing</button>
        </form>
        <br>
        <br>
        <form th:action="@{/adminnewtesting}" method="post">
            <button type="submit" class="buttonDarkBlue">New Testing</button>
        </form>
    </div>
</div>

</body>
</html>