<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <th:block th:replace="~{layout/linksstyles :: linksStylesAndBootstrap}"/>
    <th:block th:replace="~{layout/linksstyles :: background}"/>
</head>

<body>
<th:block th:replace="~{layout/header :: header}"/>
<br>
<div>
    <div class="center">
        <span class="text-bold" th:utext="#{adminPage.questionsInTheDatabase}"></span>
        <span th:text="${session.sizeAllQuestionInterview}"></span>
        <br>
        <br>
        <form th:action="@{/adminsearchquestion}" method="post">
            <div class="input-wrapper">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input name="interview" type="text" placeholder="Question Interview or ID" class="input">
            </div>
            <br>
            <button type="submit" class="buttonDarkBlue">
                <span th:text="#{button.question}"></span>
            </button>
        </form>
        <br><br>
        <form th:action="@{/adminnewquestion}" method="post">
            <button type="submit" class="buttonDarkBlue">
                <span th:text="#{button.createNewQuestion}"></span>
            </button>
        </form>

        <br><br>

        <span class="text-bold" th:utext="#{adminPage.questionsInTheDatabase}"></span>
        <span th:text="${session.sizeAllTestingInterview}"></span>
        <br>
        <br>
        <form th:action="@{/adminsearchtesting}" method="post">
            <div class="input-wrapper">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input name="testing" type="text" placeholder="ID Testing" class="input">
            </div>
            <br>
            <button type="submit" class="buttonDarkBlue">
                <span th:text="#{button.testing}"></span>
            </button>
        </form>
        <br>
        <br>
        <form th:action="@{/adminnewtesting}" method="post">
            <button type="submit" class="buttonDarkBlue">
                <span th:text="#{button.createNewTesting}"></span>
            </button>
        </form>

        <br><br>
        <span class="text-bold" th:utext="#{adminPage.registeredUsers}"></span>
        <span th:text="${session.sizeAllUsers}"></span>
        <br>
        <br>
        <form th:action="@{/adminsearchuser}" method="post">
            <div class="input-wrapper">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input name="email" type="text" placeholder="user email" class="input">
            </div>
            <br>
            <button type="submit" class="buttonDarkBlue">
                <span th:text="#{button.searchUser}"></span>
            </button>
            <br>
        </form>

        <br>
    </div>
</div>

</body>
</html>