<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create and Update Question</title>
    <th:block th:replace="~{layout/linksstyles}"/>
</head>

<body>
<br>
<form method="post" th:action="@{/update}" th:object="${session.updateQuestion}">
    <table class="table_study_questions">
        <td>
            <!--suppress HtmlFormInputWithoutLabel -->
            <textarea class="textarea1" name="updateQuestion" th:text="*{question}"/>
        </td>
        <td>
            <!--suppress HtmlFormInputWithoutLabel -->
            <textarea class="textarea2" name="updateAnswer" th:text="*{answer}"/>
        </td>
    </table>
    <br>
    <button class="buttonSerene center" type="submit">Переглянути змінити</button>
</form>
<br>

<table class="table_study_questions">
    <td>
        <p class="text-bold" th:utext="${session.updateQuestion.getQuestion()}"></p>
    </td>
    <td>
        <p th:utext="${session.updateQuestion.getAnswer()}"></p>
    </td>
    <td>
        <p th:utext="${session.updateQuestion.getTopic()}"></p>
    </td>
</table>


</body>
</html>