<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create and Update Testing</title>
    <th:block th:replace="~{layout/linksstyles}"/>
</head>

<body>
<th:block th:replace="~{layout/header}"/>
<br>
<div class="center">
    <form method="post" th:action="@{/viewchangestesting}" th:object="${modelUpdateTestingInterview}">
        <table class="table_study_questions">
            <td class="td_red">
                <!--suppress HtmlFormInputWithoutLabel -->
                <textarea class="textarea3" th:field="*{question}"></textarea>
                <!--suppress HtmlFormInputWithoutLabel -->
                <textarea class="textarea3" th:field="*{picture}"></textarea>
                <!--suppress HtmlFormInputWithoutLabel -->
                <textarea class="textarea3" th:field="*{answer}"></textarea>
            </td>
            <td class="td_red">
                <!--suppress HtmlFormInputWithoutLabel -->
                <textarea class="textarea4 green_color" th:field="*{correctAnswer}"></textarea>
                <!--suppress HtmlFormInputWithoutLabel -->
                <textarea class="textarea4 red_color" th:field="*{firstFalseAnswer}"></textarea>
                <!--suppress HtmlFormInputWithoutLabel -->
                <textarea class="textarea4 red_color" th:field="*{secondFalseAnswer}"></textarea>
                <!--suppress HtmlFormInputWithoutLabel -->
                <textarea class="textarea4 red_color" th:field="*{thirdFalseAnswer}"></textarea>
                <!--suppress HtmlFormInputWithoutLabel -->
                <textarea class="textarea4 red_color" th:field="*{fourthFalseAnswer}"></textarea>
                <!--suppress HtmlFormInputWithoutLabel -->
                <textarea class="textarea4 red_color" th:field="*{fifthFalseAnswer}"></textarea>
                <p>
                    <button class="buttonGreen" type="submit">✅</button>
            </td>
        </table>
    </form>
</div>
<br>

<div class="center">
    <p class="text-bold big-text_4" th:utext="${session.updateTestingInterview.getQuestion()}"></p>
    <p th:utext="${session.updateTestingInterview.getPicture()}"></p>
    <p>
        <button class="buttonGrey" id="myBtn" th:text="Answer"/>
    <p>
        <button class="buttonGreen" th:text="${session.updateTestingInterview.getCorrectAnswer()}"/>
    <p>
        <button class="buttonRed" th:text="${session.updateTestingInterview.getFirstFalseAnswer()}"/>
    <p>
        <button class="buttonRed" th:text="${session.updateTestingInterview.getSecondFalseAnswer()}"/>
    <p>
        <button class="buttonRed" th:text="${session.updateTestingInterview.getThirdFalseAnswer()}"/>
    <p>
        <button class="buttonRed" th:text="${session.updateTestingInterview.getFourthFalseAnswer()}"/>
    <p>
        <button class="buttonRed" th:text="${session.updateTestingInterview.getFifthFalseAnswer()}"/>
</div>

<br>
<div class="container-buttons center">
    <form method="post" th:action="@{/savetestinginterview}">
        <button class="buttonGreen center" type="submit">Save</button>
    </form>

    <form method="post" th:action="@{/redirectadminpage}">
        <button class="buttonSerene center" type="submit">Back to admin page</button>
    </form>
</div>
<br>

<div id="myModal" class="modal">
    <div class="modal-content style_text_model">
        <span class="close"></span>
        <p th:utext="${modelUpdateTestingInterview.getAnswer()}"></p>
        <br>
    </div>
</div>

<script th:src="@{javascript/modal.js}"></script>

</body>
</html>