<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Technologies</title>
    <th:block th:replace="~{layout/linksstyles}"/>
</head>
<body>
<div class="split left">
    <div class="text-bold big-text_4 container">
        <span class="title_color big-text_3">Технологии применимые в реализации проекта</span>
        <p><img th:src="@{images/technologies/java-original.svg}" width="40" height="40" alt="image"> - Java 17</p>
        <p><img th:src="@{images/technologies/spring-original.svg}" width="40" height="40" alt="image"> - Spring Boot</p>
        <p><img th:src="@{images/technologies/spring-original.svg}" width="40" height="40" alt="image"> - Spring Data</p>
        <p><img th:src="@{images/technologies/spring-original.svg}" width="40" height="40" alt="image"> - Spring MVC</p>
        <p><img th:src="@{images/technologies/postgresql-original.svg}" width="40" height="40" alt="image"> - PostgreSQL</p>
        <p><img th:src="@{images/technologies/maven-svgrepo-com.svg}" width="40" height="40" alt="image"> - Maven</p>
        <p><img th:src="@{images/technologies/docker-original.svg}" width="40" height="40" alt="image"> - Docker</p>
        <p><img th:src="@{images/technologies/thymeleaf.png}" width="40" height="40" alt="image"> - Thymeleaf</p>
        <p><img th:src="@{images/technologies/html5-original.svg}" width="40" height="40" alt="image"> - HTML</p>
        <p><img th:src="@{images/technologies/css3-plain-wordmark.svg}" width="40" height="40" alt="image"> - CSS</p>
        <p><img th:src="@{images/technologies/javascript-original.svg}" width="40" height="40" alt="image"> - JS</p>
    </div>
</div>
<div class="split right">
    <div class="text-bold big-text_4 container">
        <span class="title_color big-text_3">Инструменты используемые в разработке</span>
        <p><img th:src="@{images/technologies/intellij-idea.svg}" width="40" height="40" alt="image"> - IntelliJ IDEA</p>
        <p><img th:src="@{images/technologies/docker-original.svg}" width="40" height="40" alt="image"> - Docker</p>
        <p><img th:src="@{images/technologies/git-original.svg}" width="40" height="40" alt="image"> - Git</p>
        <p><img th:src="@{images/technologies/github-original.svg}" width="40" height="40" alt="image"> - GitHub</p>
        <p><img th:src="@{images/technologies/postman-icon.svg}" width="40" height="40" alt="image"> - Postman</p>
    </div>
</div>
</body>
</html>