<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update or Delete user</title>
  <th:block th:replace="~{layout/linksstyles :: linksStylesAndBootstrap}"/>
    <th:block th:replace="~{layout/linksstyles :: background}"/>
</head>

<body>
<th:block th:replace="~{layout/header :: header}"/>
<br>
<div class="center">
<form method="post" th:action="@{/deleteuser}">
    <p class="text-bold big-text_2" th:text="${session.userUpdate.getFirstName()} + ' ' + ${session.userUpdate.getLastName()}"></p>
    <p class="text-bold big-text_3" th:text="${session.userUpdate.getEmail()}"></p>
    <br>
    <button type="submit" class="buttonRed">
        <span th:text="#{button.delete}"></span>
    </button>
</form>
</div>
</body>
</html>