<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="formRegistration">
  <form th:action="@{/login}" method="post">
    <div class="wave-group">
      <!--suppress HtmlFormInputWithoutLabel -->
      <input name="firstName" required type="text" class="input">
      <span class="bar"></span>
      <label class="label">
        <span class="label-char" style="--index: 0">F</span>
        <span class="label-char" style="--index: 1">i</span>
        <span class="label-char" style="--index: 2">r</span>
        <span class="label-char" style="--index: 3">s</span>
        <span class="label-char" style="--index: 4">t</span>
        <span class="label-char" style="--index: 5">&nbsp</span>
        <span class="label-char" style="--index: 6">n</span>
        <span class="label-char" style="--index: 7">a</span>
        <span class="label-char" style="--index: 8">m</span>
        <span class="label-char" style="--index: 9">e</span>
      </label>
    </div>
    <br>
    <div class="wave-group">
      <!--suppress HtmlFormInputWithoutLabel -->
      <input name="lastName" required type="text" class="input">
      <span class="bar"></span>
      <label class="label">
        <span class="label-char" style="--index: 0">L</span>
        <span class="label-char" style="--index: 1">a</span>
        <span class="label-char" style="--index: 2">s</span>
        <span class="label-char" style="--index: 3">t</span>
        <span class="label-char" style="--index: 4">&nbsp</span>
        <span class="label-char" style="--index: 5">n</span>
        <span class="label-char" style="--index: 6">a</span>
        <span class="label-char" style="--index: 7">m</span>
        <span class="label-char" style="--index: 8">e</span>
      </label>
    </div>
    <br>
    <div class="wave-group">
      <!--suppress HtmlFormInputWithoutLabel -->
      <input name="email" required type="email" class="input">
      <span class="bar"></span>
      <label class="label">
        <span class="label-char" style="--index: 0">E</span>
        <span class="label-char" style="--index: 1">m</span>
        <span class="label-char" style="--index: 2">a</span>
        <span class="label-char" style="--index: 3">i</span>
        <span class="label-char" style="--index: 4">l</span>
      </label>
    </div>
    <br>
    <div class="wave-group">
      <!--suppress HtmlFormInputWithoutLabel -->
      <input name="password" required type="password" class="input">
      <span class="bar"></span>
      <label class="label">
        <span class="label-char" style="--index: 0">P</span>
        <span class="label-char" style="--index: 1">a</span>
        <span class="label-char" style="--index: 2">s</span>
        <span class="label-char" style="--index: 3">s</span>
        <span class="label-char" style="--index: 4">w</span>
        <span class="label-char" style="--index: 5">o</span>
        <span class="label-char" style="--index: 6">r</span>
        <span class="label-char" style="--index: 7">d</span>
      </label>
    </div>
    <br>
    <button type="submit" class="buttonSerene">Submit</button>
  </form>
</th:block>