<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="formNewPassword">
  <form th:action="@{/becktologin}" method="post">
    <div class="wave-group">
      <!--suppress HtmlFormInputWithoutLabel -->
      <input name="passwordOne" required type="password" class="input">
      <span class="bar"></span>
      <label class="label">
        <span class="label-char" style="--index: 0">N</span>
        <span class="label-char" style="--index: 1">e</span>
        <span class="label-char" style="--index: 2">w</span>
        <span class="label-char" style="--index: 3">&nbsp</span>
        <span class="label-char" style="--index: 4">p</span>
        <span class="label-char" style="--index: 5">a</span>
        <span class="label-char" style="--index: 6">s</span>
        <span class="label-char" style="--index: 7">s</span>
        <span class="label-char" style="--index: 8">w</span>
        <span class="label-char" style="--index: 9">o</span>
        <span class="label-char" style="--index: 10">r</span>
        <span class="label-char" style="--index: 11">d</span>
      </label>
    </div>
    <br>
    <div class="wave-group">
      <!--suppress HtmlFormInputWithoutLabel -->
      <input name="passwordTwo" required type="password" class="input">
      <span class="bar"></span>
      <label class="label">
        <span class="label-char" style="--index: 0">C</span>
        <span class="label-char" style="--index: 1">o</span>
        <span class="label-char" style="--index: 2">n</span>
        <span class="label-char" style="--index: 3">f</span>
        <span class="label-char" style="--index: 4">i</span>
        <span class="label-char" style="--index: 5">r</span>
        <span class="label-char" style="--index: 6">m</span>
        <span class="label-char" style="--index: 7">&nbsp</span>
        <span class="label-char" style="--index: 8">p</span>
        <span class="label-char" style="--index: 9">a</span>
        <span class="label-char" style="--index: 10">s</span>
        <span class="label-char" style="--index: 11">s</span>
        <span class="label-char" style="--index: 12">w</span>
        <span class="label-char" style="--index: 13">o</span>
        <span class="label-char" style="--index: 14">r</span>
        <span class="label-char" style="--index: 15">d</span>
      </label>
    </div>
    <br>
    <button type="submit" class="button">Submit</button>
  </form>
</th:block>