<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="formPasswordRecovery">
    <p class="title_color">Введите свой email. <br>Мы вышлем код для восстановления пароля.</p>
    <br>
    <form th:action="@{/confirmationcode}" method="post">
        <div class="wave-group">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input name="email" required type="email" class="input">
            <span class="bar"></span>
            <label class="label">
                <span class="label-char" style="--index: 0">E</span>
                <span class="label-char" style="--index: 1">m</span>
                <span class="label-char" style="--index: 2">a</span>
                <span class="label-char" style="--index: 3">i</span>
                <span class="label-char" style="--index: 4">l</span>
            </label>
        </div>
        <br>
        <button type="submit" class="buttonSerene">Get code</button>
    </form>
</th:block>