<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="header">
    <div class="header shadow">
        <a data-bs-toggle="modal" data-bs-target="#staticBackdropUserPage" th:href="@{/userpage}" class="text-bold orange_color" th:text="${session.user.getFirstName().toUpperCase()} + ' ' + ${session.user.getLastName().toUpperCase()}"/>
        <div class="header-right">
            <a th:href="@{/userpage}" data-bs-toggle="modal" data-bs-target="#staticBackdropUserPage">Home page</a>
            <a th:if="${session.user.getRole().toString()} == ADMIN" th:href="@{/adminpage}" data-bs-toggle="modal" data-bs-target="#staticBackdropAdminPage">Admin page</a>
            <a th:if="${session.user.listStudyQuestion.size() > 10}" class="btn" onclick="on()">Interview</a>
            <a th:if="${session.user.listStudyQuestion.size() <= 10}" th:href="@{/questionpage}" data-bs-toggle="modal" data-bs-target="#staticBackdropInterview">Interview</a>
            <a th:href="@{/testingpage}" data-bs-toggle="modal" data-bs-target="#staticBackdropTesting">Testing</a>
            <a th:href="@{/allstatisticspage}" data-bs-toggle="modal" data-bs-target="#staticBackdropStatistic">Statistic</a>
            <a th:href="@{/feedback}" data-bs-toggle="modal" data-bs-target="#staticBackdropFeedback">Feedback</a>
            <a th:href="@{/logout}" data-bs-toggle="modal" data-bs-target="#staticBackdropLogout">Logout</a>
        </div>
    </div>

    <th:block th:replace="~{layout/headerforinterview :: clickResponse}"/>

    <th:block th:replace="~{layout/header :: message}"/>
</th:block>

<th:block th:fragment="clickResponse">
    <div class="modal fade" id="staticBackdropUserPage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <th:block th:replace="~{layout/modelForInterview :: formField(userpage)}"/>
    </div>
    <div class="modal fade" id="staticBackdropAdminPage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <th:block th:replace="~{layout/modelForInterview :: formField(adminpage)}"/>
    </div>
    <div class="modal fade" id="staticBackdropInterview" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <th:block th:replace="~{layout/modelForInterview :: formField(interview)}"/>
    </div>
    <div class="modal fade" id="staticBackdropTesting" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <th:block th:replace="~{layout/modelForInterview :: formField(testing)}"/>
    </div>
    <div class="modal fade" id="staticBackdropStatistic" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <th:block th:replace="~{layout/modelForInterview :: formField(allstatisticspage)}"/>
    </div>
    <div class="modal fade" id="staticBackdropFeedback" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <th:block th:replace="~{layout/modelForInterview :: formField(feedback)}"/>
    </div>
    <div class="modal fade" id="staticBackdropLogout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <th:block th:replace="~{layout/modelForInterview :: formField(logout)}"/>
    </div>
</th:block>