<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="linksStyles">
    <link th:href="@{css/buttons.css}" rel="stylesheet">
    <link th:href="@{css/colors.css}" rel="stylesheet">
    <link th:href="@{css/forms.css}" rel="stylesheet">
    <link th:href="@{css/styleText.css}" rel="stylesheet">
    <link th:href="@{css/split.css}" rel="stylesheet"/>
    <link th:href="@{css/table.css}" rel="stylesheet"/>
    <link th:href="@{css/responseinputstyle.css}" rel="stylesheet"/>
    <link th:href="@{css/styleTextBD.css}" rel="stylesheet"/>
    <link th:href="@{css/modal.css}" rel="stylesheet"/>
    <link th:href="@{css/input.css}" rel="stylesheet"/>
    <link th:href="@{css/textarea.css}" rel="stylesheet"/>
    <link th:href="@{css/buttonTesting.css}" rel="stylesheet"/>
</th:block>