<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="titletext">
    <header>
        <ul class="text-bold big-text_1 text-center orange_color">Interview simulator</ul>
    </header>
    <div class="split left">
        <div class="centered_title_text">
            <div class="container">
                <h3 class="text-normal">
                    <span th:utext="#{titleText.titleText}"></span>
                    <br>
                </h3>
                <br>
            </div>
        </div>
    </div>
</th:block>