<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="titletext">
    <header>
        <ul class="text-bold big-text_1 text-center">Interviewer</ul>
    </header>
    <div class="split left">
        <div class="centered_title_text">
            <div class="container">
                <h3 class="text-normal">
                    Добро пожаловать в мой пет-проект, созданный начинающим программистом с
                    большой страстью к технологиям и желанием найти свою первую роботу, а также помочь каждому взлететь
                    в карьере!
                    <br><br> Собеседования могут быть сложными, особенно когда только начинаешь свой путь в мире
                    программирования. Но сервис сделает этот опыт увлекательным и успешным! Мой проект предлагает
                    доступные
                    материалы и тесты, которые помогут тебе подготовиться к собеседованиям и проявить себя с лучшей
                    стороны.
                    <br><br> Этот проект создан с любовью и заботой, и я всегда готов ответить на твои вопросы и помочь
                    тебе преодолеть трудности. Вместе мы подготовимся к собеседованию, чтобы ты чувствовал уверенность и
                    готовность к вызовам реального мира программирования.
                    <br><br> Ты не одинок в своем пути — мы здесь, чтобы поддержать друг друга и достичь новых вершин.
                    Вместе мы станем настоящей командой, готовой покорить программирование и достичь мечты о работе в
                    топовых
                    компаниях.
                    <br><br> Так что давай начнем этот увлекательный путь вместе! Добро пожаловать в мой пет-проект для
                    будущих программистов, где каждый шаг важен, и каждый прогресс — это повод для радости. Вперед, к
                    успеху и новым возможностям!
                    <br><br>
                </h3>
                <br><br>
            </div>
        </div>
    </div>
</th:block>