<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Interview</title>
    <th:block th:replace="~{layout/linksstyles}"/>
</head>

<body>
<div id="overlay" onclick="off()">
    <div id="text">
        <p th:utext="${session.question.getAnswer()}"></p>
        <div th:if="${session.question.getImage() != null}">
            <img th:src="@{${session.question.getImage()}}" alt="image"/>
        </div>
    </div>
</div>

<div class="centered" style="padding:20px">
    <p class="text-bold big-text_1 title_color" th:utext="${session.question.getQuestion()}"></p>
    <br>
    <div class="container-buttons">
        <form th:action="@{/knowAnswer}" method="post" th:object="${session.question}">
            <button class="buttonGreen">Знаю ответ</button>
        </form>
        <button class="buttonGrey" onclick="on()">Посмотреть ответ</button>
        <form th:action="@{/noAnswer}" method="post" th:object="${session.question}">
            <button class="buttonRed">Не знаю ответ</button>
        </form>
    </div>
    <br>

</div>

<script>
    function on() {
        document.getElementById("overlay").style.display = "block";
    }

    function off() {
        document.getElementById("overlay").style.display = "none";
    }
</script>
</body>
</html>