<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <th:block th:replace="~{layout/linksstyles :: linksStyles}"/>
</head>

<body>
<th:block th:replace="~{layout/titletext}"/>

<div class="split right">
    <div class="centered">
        <div th:if="${param.error}">
            <p class="text-bold red_color" th:text="#{login.incorrectLoginOrPassword}"></p>
            <br>
        </div>
        <div th:if="${session.newUserIsRegistered == true}">
            <p class="text-bold green_color" th:utext="#{login.youRegistered}"></p>
            <br>
        </div>
        <th:block th:replace="~{layout/formlogin}"/>
    </div>
</div>
</body>
</html>