<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Testing</title>
    <th:block th:replace="~{layout/linksstyles :: linksStylesAndBootstrap}"/>
    <th:block th:replace="~{layout/linksstyles :: background}"/>
</head>

<body>
<th:block th:replace="~{layout/headerforinterview}"/>

<br>
<div th:if="${session.questionTesting.getPicture().isEmpty()}">
    <div class="centered">
        <th:block th:replace="~{layout/testing}"/>
    </div>
</div>
<div th:if="${!session.questionTesting.getPicture().isEmpty()}">
    <div class="center">
        <br>
        <th:block th:replace="~{layout/testing}"/>
    </div>
</div>
</body>
</html>