<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <th:block th:replace="~{layout/linksstyles :: linksStylesBootstrap}"/>
</head>

<body>
<th:block th:replace="~{layout/header}"/>
<div th:if="${!session.user.listStudyQuestion.isEmpty()}">
    <br>
    <h1 class="text-bold title_color big-text_1 text-center">Study questions</h1>
    <br>
    <table class="table_study_questions">
        <tr th:each="question : ${session.user.getListStudyQuestion()}">
            <td>
                <p class="text-bold" th:utext="${question.getQuestion()}"></p>
            </td>
            <td>
                <p th:utext="${question.getAnswer()}"></p>
            </td>
            <td>
                <form th:action="@{/delete}" method="post">
                    <input type="hidden" th:name="${'idQuestion'}" th:value="${question.getId()}"/>
                    <button type="submit" class="buttonDelete">🗑️</button>
                </form>
            </td>
        </tr>
    </table>
    <br>
</div>

<div th:if="${session.user.listStudyQuestion.isEmpty()}">
    <img class="centered" th:src="@{images/view/image.png}" height="700" width="700" alt="image">
</div>

</body>
</html>