<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
    <th:block th:replace="~{layout/linksstyles}"/>
</head>
<body>
<div class="split_user_page_left left">
    <div class="text-bold big-text_4 text-center" th:text="${session.user.firstName}"/>
    <div class="text-bold big-text_3 text-center" th:text="${session.user.lastName}"/>
    <br>
    <div class="line"></div>
    <h1 class="text-bold title_color big-text_2 text-center">Statistic</h1>
    <table class="center table_statistic">
        <tr>
            <td>12.04.22</td>
            <td>87%</td>
        </tr>
        <tr>
            <td>15.06.22</td>
            <td>62%</td>
        </tr>
        <tr>
            <td>23.07.23</td>
            <td>57%</td>
        </tr>
        <tr>
            <td>22.06.23</td>
            <td>77%</td>
        </tr>
        <tr>
            <td>18.01.23</td>
            <td>90%</td>
        </tr>
        <tr>
            <td>30.08.23</td>
            <td>90%</td>
        </tr>
    </table>
</div>

<div class="split_user_page_right right">
    <div class="container-buttons">
        <form th:action="@{/interview}" method="post">
            <button type="submit" class="buttonSerene">Interview</button>
        </form>
        <form th:action="@{/testing}" method="post">
            <button type="submit" class="buttonSerene">Testing</button>
        </form>
    </div>
    <br>
    <div class="line"></div>
    <h1 class="text-bold title_color big-text_2 text-center">Study questions</h1>
    <table class="table_study_questions">
        <tr th:each="question : ${session.user.getListStudyQuestion()}">
            <td>
                <p th:text="${question.question}"/>
            </td>
            <td>
                <p th:text="${question.answer}"/>
            </td>
            <td>🗑️</td>
        </tr>
    </table>
</div>
</body>
</html>