<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Page</title>
    <th:block th:replace="~{layout/linksstyles}"/>
</head>

<body>
<div th:if="${!session.user.listStudyQuestion.isEmpty()}">
    <div id="overlay" onclick="off()">
        <div id="text">
            <div class="center text-bold big-text_2 red_color">
                <p>Слишком много вопросов к изучению.
                <p>Сначала изучите их чтобы снова продолжить проходить собеседования.
            </div>
        </div>
    </div>

    <th:block th:replace="~{layout/buttonsUserPage}"/>

    <h1 class="text-bold title_color big-text_2 text-center">Study questions</h1>
    <table class="table_study_questions">
        <tr th:each="question : ${session.user.getListStudyQuestion()}">
            <td>
                <p class="text-bold" th:utext="${question.getQuestion()}"></p>
            </td>
            <td>
                <p th:utext="${question.getAnswer()}"></p>
            </td>
            <td>
                <form th:action="@{/delete}" method="post">
                    <input type="hidden" th:name="${'idQuestion'}" th:value="${question.getId()}"/>
                    <button type="submit" class="buttonDelete">🗑️</button>
                </form>
            </td>
        </tr>
    </table>
    <br>
</div>

<div th:if="${session.user.listStudyQuestion.isEmpty()}">
    <th:block th:replace="~{layout/buttonsUserPage}"/>
    <th:block th:replace="~{layout/infoservicework}"/>
</div>

<script th:src="@{javascript/display.js}"></script>

</body>
</html>