* {
    margin: 0;
    padding: 0;
}

p {
    padding: 10px;
}

#left {
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
}

#right {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
}

body {
    background-color: #FAFAFA;
}

.p1 {
    position: relative;
}

.c1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, +10%);
}

.c2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, 110%);
}

.c2_2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, 80%);
}

.c3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, 105%);
}

.c3_3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, 65%);
}

.c4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, 170%);
}

.c4_4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, 100%);
}

.c5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 400%);
}

.title_color {
    color: #9641B0;
}

.alert_color {
    color: red;
}

body {
    color: #333333;
}

.container {
    width: 600px;
    padding: 20px 30px;
    background: #fbfbfb;
}