<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <th:block th:replace="~{layout/linksstyles}"/>
</head>

<body>
<th:block th:replace="~{layout/titletext}"/>
<div class="split right">
    <div class="centered">
        <div th:if="${session.registrationFlag == false}">
            <p class="text-bold red_color">This user is already registered!</p>
            <br>
        </div>
        <th:block th:replace="~{layout/formregistration}"/>
        <br>
        <form method="post" th:action="@{/login}">
            <button class="buttonSerene" type="submit">Back</button>
        </form>
    </div>
</div>
</body>
</html>