<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link th:href="@{/buttons.css}" rel="stylesheet">
    <link th:href="@{/different.css}" rel="stylesheet">
    <link th:href="@{/forms.css}" rel="stylesheet">
    <link th:href="@{/styleText.css}" rel="stylesheet">
</head>

<body>
<div id="left">
    <th:block th:replace="~{layout/title}"/>
</div>
<div id="right" class="wrapper-col text-center">
    <div class="p1">
        <div th:if="${session.registrationFlag != false}">
            <div class="c3">
                <th:block th:replace="~{layout/formregistration}"/>
            </div>
        </div>
        <div th:if="${session.registrationFlag == false}">
            <div class="c3_3">
                <p class="alert_color">Такой пользователь уже зарегистрирован!</p>
                <br>
                <th:block th:replace="~{layout/formregistration}"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>