<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Code password recovery</title>
    <th:block th:replace="~{layout/linksstyles :: linksStyles}"/>
</head>

<body>
<th:block th:replace="~{layout/titletext}"/>
<div class="split right">
    <div class="centered">
        <div th:if="${session.codeNoCorrect} == true">
            <p class="text-bold red_color" th:text="#{message.wrongCode}"></p>
        </div>
        <p class="title_color" th:text="#{codePasswordRecovery.enterTheCode}"></p>
        <br>
        <form th:action="@{/newpassword}" method="post">
            <div class="wave-group">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input name="codeUser" required type="number" class="input">
                <span class="bar"></span>
                <label class="label">
                    <span class="label-char" style="--index: 0">C</span>
                    <span class="label-char" style="--index: 1">o</span>
                    <span class="label-char" style="--index: 2">d</span>
                    <span class="label-char" style="--index: 3">e</span>
                </label>
            </div>
            <br>
            <button type="submit" class="buttonDarkBlue">
                <span th:text="#{button.checkTheCode}"></span>
            </button>
        </form>
    </div>
</div>
</body>
</html>