<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New password</title>
  <link th:href="@{/buttons.css}" rel="stylesheet">
  <link th:href="@{/different.css}" rel="stylesheet">
  <link th:href="@{/forms.css}" rel="stylesheet">
  <link th:href="@{/styleText.css}" rel="stylesheet">
</head>

<body>
<div id="left">
  <th:block th:replace="~{layout/title}"/>
</div>
<div id="right" class="wrapper-col text-center">
  <div class="p1">
    <div class="c4">
      <th:block th:replace="~{layout/formnewpassword}"/>
    </div>
  </div>
</div>
</body>
</html>