<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password recovery</title>
    <th:block th:replace="~{layout/linksstyles}"/>
</head>

<body>
<th:block th:replace="~{layout/titletext}"/>
<div class="split right">
    <div class="centered">
        <div th:if="${session.passwordFlag == false}">
            <p class="text-bold red_color">Не правильно введен email, <br>или такой пользователь не зарегистрирован!</p>
            <br>
        </div>
        <th:block th:replace="~{layout/formpasswordrecovery}"/>
    </div>
</div>
</body>
</html>