body {
    background-color: #FAFAFA;
    margin: 0;
}

.body_color {
    background-color: #FAFAFA;
}

.red_color {
    color: red;
}

.orange_color {
    color: #ec5d2a;
}

.green_color {
    color: green;
}

.container {
    width: 660px;
    padding: 5px 50px;
    background: #fbfbfb;
}

.title_color {
    color: black;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}