body {
    background-color: #FAFAFA;
}

.red_color {
    color: red;
}

.green_color {
    color: green;
}

.container {
    width: 600px;
    padding: 20px 30px;
    background: #fbfbfb;
}

.title_color {
    color: #9641B0;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}