.text-normal {
    font-weight: normal;
}

.text-bold {
    font-weight: bold;
}

.big-text_1 {
    font-size: 50px;
}

.big-text_2 {
    font-size: 30px;
}

.big-text_3 {
    font-size: 25px;
}

.big-text_4 {
    font-size: 20px;
}

.text-center {
    text-align: center
}