.textarea1 {
    width: 150px;
    height: 300px;
}

.textarea2 {
    width: 1080px;
    height: 300px;
}

.textarea3 {
    width: 1080px;
    height: 200px;
}

.textarea4 {
    width: 250px;
    height: 35px;
}