<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout/linksstyles}"/>
</head>
<body class="centered">

<div class="big-text_3 text-bold">
    <span class="big-text_1 title_color">An error has occurred</span>
    <div th:if="${session.exception} != null">
        <p th:text="${session.exception.getStatusCode()}"/>
        <p th:text="${session.exception.getMessage()}"/>
    </div>
</div>
<br>

<form action="/">
    <button class="buttonSerene">Go to start page</button>
</form>

</body>
</html>