<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="buttons.css" rel="stylesheet"/>
    <link th:href="different.css" rel="stylesheet"/>
    <link th:href="forms.css" rel="stylesheet"/>
    <link th:href="styleText.css" rel="stylesheet"/>
</head>

<body>
<div id="left">
    <th:block th:replace="~{layout/title}"/>
</div>
<div id="right" class="wrapper-col text-center">
    <div th:if="${session.loginFlag != false}">
        <div class="p1">
            <div class="c2">
                <th:block th:replace="~{layout/formlogin}"/>
            </div>
        </div>
    </div>
    <div th:if="${session.loginFlag == false}">
        <div class="p1">
            <div class="c2_2">
                <p class="alert_color">Не правильно введен логин или пароль!</p>
                <br>
                <th:block th:replace="~{layout/formlogin}"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>