<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <th:block th:replace="~{layout/linksstyles}"/>
</head>

<body>
<th:block th:replace="~{layout/titletext}"/>
<div class="split right">
    <div class="centered">
        <div th:if="${session.newUserIsRegistered == true}">
            <p class="text-bold green_color">Вы зарегистрированы!</p>
            <br>
        </div>
        <th:block th:replace="~{layout/formlogin}"/>
    </div>
</div>
</body>
</html>