<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Statistic All</title>
    <th:block th:replace="~{layout/linksstyles :: linksStylesAndBootstrap}"/>
    <th:block th:replace="~{layout/linksstyles :: background}"/>
</head>

<body>
<th:block th:replace="~{layout/header :: header}"/>
<br>
<div th:if="${session.statisticList.isEmpty()}">
    <br>
    <h1 class="text-bold big-text_2 text-center">
        <span th:utext="#{allStatistics.noStatistic}"></span>
    </h1>
    <br>
</div>
<div th:if="${!session.statisticList.isEmpty()}">
    <div class="text-bold big-text_1 text-center">
        <span th:utext="#{allStatistics.allStatistics}"></span>
    </div>
    <div class="center">
        <table class="padding">
            <tr class="text-bold">
                <th th:utext="#{allStatistics.date}"></th>
                <th th:utext="#{allStatistics.correctAnswers}"></th>
                <th th:utext="#{allStatistics.indicator}"></th>
                <th th:utext="#{allStatistics.type}"></th>
            </tr>

            <tr th:each="statistic : ${session.statisticList}">
                <td>
                    <p th:text="${#dates.format(statistic.getDate(), 'yyyy-MM-dd HH:mm')}"/>
                </td>
                <td>
                    <p th:text="${statistic.getKnowAnswer()} + '/15'"/>
                </td>
                <td>
                    <div th:if="${statistic.getResult()} < 60">
                        <p class="red_color text-bold" th:text="${statistic.getResult()} + '%'"/>
                    </div>
                    <div th:if="${statistic.getResult()} > 90">
                        <p class="green_color text-bold" th:text="${statistic.getResult()} + '%'"/>
                    </div>
                    <div th:if="${statistic.getResult()} < 90 AND ${statistic.getResult()} > 60">
                        <p class="text-bold" th:text="${statistic.getResult()} + '%'"/>
                    </div>
                </td>
                <td>
                    <p th:text="${statistic.getType()}"/>
                </td>
            </tr>
        </table>
        <br>
        <div class="text-bold big-text_3">
            <div th:if="${session.generalResult} < 60">
                <span th:utext="#{allStatistics.totalStatistic}"></span>
                <span class="red_color" th:text="${session.generalResult} + '%'"/>
            </div>
            <div th:if="${session.generalResult} > 90">
                <span th:utext="#{allStatistics.totalStatistic}"></span>
                <span class="green_color" th:text="${session.generalResult} + '%'"/>
            </div>
            <div th:if="${session.generalResult} < 90 AND ${session.generalResult} > 60">
                <span th:utext="#{allStatistics.totalStatistic}"></span>
                <span th:text="${session.generalResult} + '%'"/>
            </div>
        </div>
        <br>
    </div>
</div>
<form th:action="@{/userpage}" method="get">
    <div class="center">
        <button type="submit" class="buttonDarkBlue">
            <span th:utext="#{button.homePage}"></span>
        </button>
    </div>
</form>
<br>
</body>
</html>