<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Statistic All</title>
    <th:block th:replace="~{layout/linksstyles :: linksStylesAndBootstrap}"/>
</head>

<body>
<th:block th:replace="~{layout/header}"/>
<br>
<div th:if="${session.statisticList.isEmpty()}">
    <br>
    <h1 class="text-bold big-text_2 text-center">No statistics</h1>
    <br>
</div>
<div class="text-bold big-text_1 text-center">All statistics</div>
<div th:if="${!session.statisticList.isEmpty()}">
    <div class="center">
        <table class="padding">
            <tr class="text-bold">
                <th>Date</th>
                <th>Correct answers</th>
                <th>Indicator %</th>
                <th>Type</th>
            </tr>

            <tr th:each="statistic : ${session.statisticList}">
                <td>
                    <p th:text="${#dates.format(statistic.getDate(), 'yyyy-MM-dd HH:mm')}"/>
                </td>
                <td>
                    <p th:text="${statistic.getKnowAnswer()} + '/' + ${statistic.getQuestions()}"/>
                </td>
                <td>
                    <div th:if="${statistic.getResult()} < 60">
                        <p class="red_color text-bold" th:text="${statistic.getResult()} + '%'"/>
                    </div>
                    <div th:if="${statistic.getResult()} > 90">
                        <p class="green_color text-bold" th:text="${statistic.getResult()} + '%'"/>
                    </div>
                    <div th:if="${statistic.getResult()} < 90 AND ${statistic.getResult()} > 60">
                        <p class="text-bold" th:text="${statistic.getResult()} + '%'"/>
                    </div>
                </td>
                <td>
                    <p th:text="${statistic.getType()}"/>
                </td>
            </tr>
        </table>
        <br>
        <div th:if="${session.generalResult} < 60">
            <span class="red_color text-bold big-text_3"
                  th:text="'Total result of all interviews - ' + ${session.generalResult} + '%'"/>
        </div>
        <div th:if="${session.generalResult} > 90">
            <span class="green_color text-bold big-text_3"
                  th:text="'Total result of all interviews - ' + ${session.generalResult} + '%'"/>
        </div>
        <div th:if="${session.generalResult} < 90 AND ${session.generalResult} > 60">
            <span class="text-bold big-text_3"
                  th:text="'Total result of all interviews - ' + ${session.generalResult} + '%'"/>
        </div>
        <br>
    </div>
</div>
<form th:action="@{/userpage}" method="get">
    <div class="center">
        <button type="submit" class="buttonDarkBlue">Home page</button>
    </div>
</form>
<br>
</body>
</html>