<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistic</title>
    <th:block th:replace="~{layout/linksstyles}"/>
</head>

<body>
<div class="centered">
    <span class="text-bold title_color big-text_1" th:text="'Результат прохождения ' + ${session.newStatisticsAdded.getType()}"></span>
    <p class="text-bold big-text_2" th:text="'Ответил на ' + ${session.newStatisticsAdded.getKnowAnswer()} + ' из ' + ${session.newStatisticsAdded.getQuestions()} + ' вопросов'"></p>
    <p class="text-bold big-text_2" th:text="'Результат составляет ' + ${session.newStatisticsAdded.getResult()} + '%'"></p>
    <br>
    <form th:action="@{/userpage}" method="get">
        <div class="center">
            <button type="submit" class="buttonSerene">Home page</button>
        </div>
    </form>
</div>

</body>
</html>